@{
    ViewBag.Title = "Contact";
}



<h2 style="margin-top: 50px;">@ViewBag.Title</h2>
<address>
    <i class="fa fa-solid fa-map-pin text-primary me-2"></i>6400 16e Avenue, Montréal QC H1X 2S9<br />
    <i class="fa fa-phone-alt text-primary me-2"></i> Téléphone: +1 (514) 345 6789
</address>

<address>

    <i class="fa fa-envelope text-primary me-2"></i><strong>Support:</strong>   <a href="mailto:support@hotel.com">support@hotel.com</a><br />
    <i class="fa fa-envelope text-primary me-2"></i><strong>Autres Informations:</strong> <a href="mailto:contact@hotel.com">contact@hotel.com</a>
</address>